body {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "header header"
        "sidebar listItemsContainer"
}

.normal-button {
    padding: 8px;
    border-radius: 5px;
}

.sideBar {
    grid-area: sidebar;
    background-color: lightgrey;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.thisList {
    display: grid;
    align-items: center;
    grid-template-columns: 60px 1fr 50px 30px;
    padding: 15px;
    gap: 15px;
    margin: 8px 0;
    border: 1px solid grey;
    border-radius: 5px;
}

.listItemsContainer {
    grid-area: listItemsContainer;
    background-color: lightblue;
    padding: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.itemContainer {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 8px;
    border: 1px solid;
    border-radius: 5px;
    padding: 12px;
    margin: 8px 0;
}

.itemIsCompletedCheckBoxDiv {
    display: flex;
    align-items: center;
}

.itemSubContainer {
    display: grid;
    gap: 8px;
}

.itemSubSubContainer {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1.5fr 125px 50px;
}

.itemSubSubContainer div {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px;
}

input, select {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px;
}

select {
    text-align: center;
}

.itemNotesContainer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 30px;
    gap: 8px;
}

.itemNotesContainer div {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px;
}

.itemTitle {
    font-size: 1.25em;
    padding-bottom: 5px;
}

.addListDialog {
    padding: 40px;
    border-radius: 5px;
}

.addListDialogContainerButtons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.addItemDialog {
    padding: 40px;
    border-radius: 5px;
}

.addItemDialogContainerButtons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.submitListBtn, .submitItemBtn {
    background-color: lightgreen;
}

.closeAddListDialogBtn, .closeAddItemDialogBtn {
    background-color: pink;
}

.deleteBtn {
    background-color: pink;
    border-radius: 50%;
    font-size: 1em;
    padding: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addListDialog legend, .addItemDialog legend {
    text-align: center;
    font-size: 1em;
    margin-bottom: 15px;
}