body {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "header header"
        "sidebar listItemsContainer"
}

h1 {
    font-size: 1.75em;
}

.normal-button {
    padding: 8px;
    border-radius: 5px;
}

.sideBar {
    grid-area: sidebar;
    background-color: lightgrey;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: sticky;
}

.thisList {
    display: grid;
    align-items: center;
    grid-template-columns: 50px 1fr 30px;
    padding: 15px;
    gap: 15px;
    margin: 8px 0;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
}

.thisList div {
    border-bottom: 1px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 8px;
}

.thisList button {
    justify-self:stretch;
}

.listItemsContainer {
    grid-area: listItemsContainer;
    background-color: lightblue;
    padding: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.listItemBtnDivContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listItemSortBtnDiv {
    display: flex;
    gap: 8px;
}

.itemContainer {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 15px;
    border: 1px solid;
    border-radius: 5px;
    padding: 12px;
    margin: 8px 0;
    background-color: white;
}

.itemSubContainer {
    display: grid;
    gap: 8px;
}

.itemIsCompletedCheckBoxDiv {
    display: flex;
    justify-content: center;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
}

.itemSubSubContainer {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1.5fr 125px 50px 30px;
    align-items:baseline;
}

.itemSubSubContainer div > div {
    border-bottom: 1px solid grey;
    padding: 8px;
}

.itemSubSubContainer input, select {
    border-bottom: 1px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 8px;
}

.listItemLabel {
    font-size: 0.8em;
    padding-left: 8px;
    color: #888888;
}

.itemNotesContainer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 8px;
}

.itemNotesContainer div > div {
    border-bottom: 1px solid grey;
    padding: 8px;
}

.itemTitle {
    font-size: 1.25em;
    padding-bottom: 5px;
}

.addListDialog {
    padding: 40px;
    border-radius: 5px;
}

.addListDialog input {
    border-bottom: 1px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 8px;
}

.addListDialogContainerButtons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.addItemDialog {
    padding: 40px;
    border-radius: 5px;
}

.addItemDialog input, .addItemDialog select {
    border-bottom: 1px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 200px;
    padding: 8px;
}

.addItemDialogContainerButtons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.submitListBtn, .submitItemBtn {
    background-color: lightgreen;
}

.closeAddListDialogBtn, .closeAddItemDialogBtn {
    background-color: pink;
}

.deleteBtn {
    background-color: pink;
    border-radius: 50%;
    font-size: 1em;
    padding: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addListDialog legend, .addItemDialog legend {
    text-align: center;
    font-size: 1em;
    margin-bottom: 15px;
}